
$white: #FFFFFF !default;
$dark: #212529 !default;
$primary: #748F47 !default;
$secondary: #717C5E !default;
$success: #8D9657 !default;
$info: #2D3E50 !default;
$warning: #FFB954 !default;
$danger: #B54C45 !default;
$body-bg: #1A1E21 !default;
$body-color: #FFFFFF !default;
$table-bg: #717c5e !default;
$table-bg-level: -4 !default;
$enable-rounded: false !default;
$enable-shadows: true !default;
$nav-tabs-border-color: #495057 !default;
$nav-tabs-link-hover-border-color: #495057 #495057 #dee2e6 !default;
$nav-tabs-link-active-border-color: #495057 #495057 $body-bg !default;
$input-group-addon-bg: $success !default;
$input-group-addon-border-color: $success !default;
$breadcrumb-bg: $dark !default;
$breadcrumb-divider-color: #ced4da !default;
$breadcrumb-active-color: #ced4da !default;
$pagination-bg: $secondary !default;
$pagination-border-color: $secondary !default;
$pagination-color: $white !default;
$pagination-active-bg: #AEB77B !default;
$pagination-disabled-bg: #899476 !default;
$pagination-disabled-border-color: #899476 !default;
$pagination-hover-bg: $success !default;
$pagination-hover-border-color: $success !default;
$alert-bg-level: -5 !default;
$alert-border-level: -7 !default;
$jumbotron-bg: $dark !default;
$card-bg: $dark !default;
$list-group-color: $dark !default;
$modal-content-bg: $dark !default;
$modal-header-border-color: #495057 !default;
$font-family-sans-serif: 'Rosario', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$input-color: #495057 !default;
$input-height-base: 35px;

@import "node_modules/bootstrap/scss/bootstrap";

.is-valid {
  border-color: limegreen !important;
}

.is-invalid {
  border-color: red !important;
}

.is-valid:focus {
  border-color: limegreen;
  outline-color: rgba(limegreen, 0.4);
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 .25rem rgba($primary, 0.5) !important;
}

.is-invalid:focus {
  border-color: red !important;
  outline-color: rgba(red, 0.4);
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 .25rem rgba(255, 0, 0, 0.25) !important;
}

.close {
  border-style: none;
  background-color: inherit;
  float: right;
}

@-moz-document url-prefix() {
  select.form-control {
    width: 100%;
    height: $input-height-base;

    padding-right: 25px;
    background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    margin-bottom: 5px;
  }
}

select.form-control {
  outline: none;
  padding-right: 25px;
  background-image: url("data:image/svg+xml,\
    <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
         height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
      <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
    </svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 50%;
  margin-bottom: 5px;
}

// .custom-select {
//   background-color: transparent !important;
// }
.custom-select>select {
  background-color: white !important;
}
.custom-select:focus {
  border: none !important;
  background-color: transparent !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 .25rem rgba($dark, 0.5) !important;
}
