{% extends 'userauth/account/base_profile_view.html' %}

{% load i18n static menu_tags %}
{% load i18n static string_tags %}

{% block profile_menus %}
    {% if request.user.is_supplier %}
        {% get_menu "supplierprofile" as menuitems %}

    {% elif request.user.is_manager %}
        {% get_menu "managerprofile" as menuitems %}
    {% else %}
        {% get_menu "customerprofile" as menuitems %}
    {% endif %}
    {% for item in menuitems.menu_items.all %}
            <a class="border-1 list-group-item list-group-item-action {% if request.resolver_match.url_name == item.url %}active{% endif %}"
             href="{% url item.url request.user.pk %}">
                {{item.title}}
            </a>
    {% endfor %}
{% endblock profile_menus %}

{% block javascript %}
    {# Override this in templates to add extra javascript #}
{% endblock javascript %}