{% extends 'userprofile/account/account_profile_base.html' %}
{% load i18n static %}


{% block page_content %}
{% load i18n socialaccount %}

    <div class="col-md-8">
        <h4 class="mb-5">Account Information</h4>
        {% get_providers as socialaccount_providers %}

        <form method="POST" action="{% url 'account_update' request.user.pk %}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class= "col-md-4">
                    <img src="{{ request.user.picture.url }}" class="profile-image" alt="{% trans "User's profile Picture" %}" width="100%">
                </div>
                <div class= "col-md-8">
                    <div class="form-group">
                        <div class="form-row col-md-12">
                            {% with field=form.username default=request.user.username readonly="readonly" %}{% include "account/form_field.html" %}{% endwith %}
                        </div>
                        <div class="form-row col-md-12 mt-3">
                            {% with field=form.email default=request.user.email readonly="readonly" %}{% include "account/form_field.html" %}{% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                {% with field=form.picture default=request.user.picture %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-row col-md-12 mt-3">
                {% with field=form.first_name default=request.user.first_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-row col-md-12 mt-3">
                {% with field=form.last_name default=request.user.last_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-row col-md-4 mt-3">
                {% with field=form.birthdate default=request.user.birthdate %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <button type="submit" class="btn btn-outline-primary ml-2 mt-3">{% trans "Update" %}</button>
        </form>
    </div>
    <br>
    {% if socialaccount_providers %}
        <br>
        <p>{% blocktrans with site.name as site_name %}Connect your existing account to one of your social accounts:{% endblocktrans %}</p>
        {% include "socialaccount/provider_list.html" with process="connect" %}
    {% endif %}

{% endblock page_content %}