{% extends 'account/base_card.html' %}

{% load i18n static menu_tags %}


{% block title %}{% trans "Your Account" %}{% endblock %}

{% block card-header %}
    <h3>{% trans "Your Account" %}</h3>
{% endblock %}

{% block card-body %}
    {% get_menu "customerprofile" as menuitems %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                {% for item in menuitems.menu_items.all %}
                    <a href="{{ item.link_page }}" class="list-group-item list-group-item-action">{{item.link_title}}</a>
                {% endfor %}
                {% comment %} <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Used</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Enquiry</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Dealer</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Media</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Post</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Category</a>
                <a href="#" class="list-group-item list-group-item-action disabled">New</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Comments</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Appearance</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Reports</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Settings</a> {% endcomment %}
                </div> 
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr>
                            </div>
                        </div>
                        {% block tab_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container">
       <div class="row">
            <div class="col border">
                <small>{% trans "Email" %}:</small><br>
                {{ request.user.email }}
            </div>
            <div class="col border">
                <small>{% trans "User name" %}:</small><br>
                {{ request.user.username }}
            </div>
        </div>
       <div class="row">
            <div class="col border">
                <small>{% trans "First name" %}:</small><br>
                {{ request.user.first_name|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Last name" %}:</small><br>
                {{ request.user.last_name|default:'' }}
            </div>
        </div>
       <div class="row">
            <div class="col border">
                <small>{% trans "Address Line 1" %}:</small><br>
                {{ request.user.adress1|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Adress Line 2" %}:</small><br>
                {{ request.user.adress2|default:'' }}
            </div>
        </div>
       <div class="row">
            <div class="col border">
                <small>{% trans "City" %}:</small><br>
                {{ request.user.city|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Postal code" %}:</small><br>
                {{ request.user.zip_code|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Country" %}:</small><br>
                {{ request.user.country|default:'' }}
            </div>
        </div>
       <div class="row">
            <div class="col border">
                <small>{% trans "Mobile phone" %}:</small><br>
                {{ request.user.mobile_phone|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Date of birth" %}:</small><br>
                {{ request.user.birthdate|default:'' }}
            </div>
        </div>
       <div class="row">
            <div class="col border">
                <small>{% trans "Additional information" %}:</small><br>
                {{ request.user.additional_information|default:'' }}
            </div>
            <div class="col border">
                <small>{% trans "Picture" %}:</small><br>
                <img src="{{ request.user.picture.url}}" class="profile-image" alt="{% trans "User's profile Picture" %}">
            </div>
        </div>
    </div> {% endcomment %}

{% endblock %}

{% block card-footer %}
    <a href="{% url 'account_update' request.user.pk %}">{% trans "Update your account" %}</a>
{% endblock %}