{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" style="margin-top: 140px">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card border-primary mb-3">
                <div class="card-header">{% block card-header %}{% endblock %}</div>
                <div class="m-5">
                    {% block card-body %}{% endblock %}
                </div>
                <div class="card-footer text-muted text-center bg-dark">
                    {% block card-footer %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}