{% extends 'base.html' %}
{% block content %}

    <div class="container text-light" style="padding-top: 100px;">
      <div class="pt-5 text-center">
        <h2>Choose your billing address</h2>
      </div>
          <form method="POST">
            {% csrf_token %}
            <div class="row px-0">
              <div class="col-md-6 mb-3 pl-0">
                  {% with field=form.address field_class="form-control"%}{% include "account/form_field.html" %}{% endwith %}
                  <a href="{% url 'sales_pipeline:address' %}" class="btn btn-outline-success btn-lg btn-block my-3">Create a new Address</a>
                  {% if addrs.all|first %}
                    <h4>Your billing address:</h4>
                    {% with addrs.all|first as addr %}
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">{{addr.name}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{addr.first_name}} {{addr.last_name}}</td>
                        </tr>
                        <tr>
                          <td>{{addr.address1}}, {{addr.address2}}</td>
                        </tr>
                        <tr>
                          <td>{{addr.zip_code}} {{addr.city}}</td>
                        <tr>
                          <td>{{addr.country}}</td>
                        </tr>
                        <tr>
                          <td>Phone: {{addr.mobile_phone}}</td>
                        </tr>
                        <tr>
                          <td>Mobile: {{addr.phone}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-outline-success btn-sm btn-block mb-5" type="submit" name="submit" value="update_addr">Update this address</button>
                    {% endwith %}
                  {% endif %}
              </div>
              <div class="col-md-6 mb-3 pr-0">
                  <img src="../media/skultetyho_map.png" width="540" height="450" alt="a google map embed here"/>
                  {% with field=form.customer_message field_class="form-control"%}{% include "account/form_field.html" %}{% endwith %}
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-lg btn-block mb-5" type="submit" name="submit" value="to_checkout">Continue to checkout</button>
          </form>
    </div>

{% endblock content %}