{% load wagtailcore_tags wagtailimages_tags%}

{% image self.bg_image fill-1600x800 as img%}
<div class="row vh-100 align-items-center" id="section" style="background-image: url({{ img.url }})">
    <div class="container">
        <form action="to_selected_pickup" method="POST">
        <div class="row justify-content-md-center input-group">
                <select class="custom-select text-center cta-input" id="inputGroupSelect04">
                    <option class="cta-input" disabled selected hidden>{{self.title}}</option>
                    {% if pickup_points|length %}
                        {% for pickup in pickup_points %}
                            <option class="cta-input">{{pickup.name}} - {{pickup.address}}</option>
                        {% endfor %}
                    {% else %}
                    <option class="cta-input" disabled>------------</option>
                    {% endif %}
                </select>
            <div class="input-group-append">
                <button class="btn btn-success cta-input" type="submit">{{self.button_text}}</button>
            </div>
        </div>
        </form>
        <div class="text-center m-4">
            <button class="btn btn-outline-success cta-input" type="submit"><i class="fa fa-search"></i> <u>{{self.text}}</u></button>
        </div>
    </div>
</div>
