{% load wagtailcore_tags wagtailimages_tags%}

{% image self.bg_image fill-1600x800 as img%}
<div class="row vh-100 align-items-center" id="section" style="background-image: url({{ img.url }})">
    <div class="container">
        <div class="row justify-content-md-center input-group">
                <select class="custom-select text-center cta-input" id="inputGroupSelect04">
                    <option class="cta-input" disabled selected hidden>{{self.title}}</option>
                    <option class="cta-input">Pick-up point #1 in Presov</option>
                    <option class="cta-input">Pick-up point #2 in Presov</option>
                    <option class="cta-input">Pick-up point #3 in Presov</option>
                    <option class="cta-input">Pick-up point #1 in Kosice</option>
                    <option class="cta-input">Pick-up point #2 in Kosice</option>
                </select>
            <div class="input-group-append">
                <button class="btn btn-success cta-input" type="button">{{self.button_text}}</button>
            </div>
        </div>
        <div class="text-center m-4">
            <button class="btn btn-outline-success cta-input" type="button"><i class="fa fa-search"></i> <u>{{self.text}}</u></button>
        </div>
    </div>
</div>
